<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='default.css', past_val='0070') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='form.css', past_val='0070') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='table.css', past_val='0070') }}">
</head>
<body id="main_body" bgcolor="#ffbfff">
<table width="60%" align="center">
    <tr>
        <td>
            <table class="CSSFrame">
                <tr>
                    <td>
                        <br /><br />
                    </td>
                </tr>
                <tr>
                    <td>
                        <h1>{{ title }}</h1>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>